.PromoContainer {
  position: relative;
  width: 1280px;
  height: 720px;
}
.PromoButtonClose {
  z-index: 1;
  position: absolute;
  left: 1170px;
  top: 16px;
}
.PromoPanel {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: -1px;
}
.PromoQRInformation {
  z-index: 1;
  position: absolute;
  left: 926px;
  top: 570px;
}
.PromoImage {
  width: 1280px;
  height: 720px;
  background: url("../../public/images/imgPromo.png");
}
