.bannerDiv {
  width: 251px;
  height: 357px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #86d3f4;
}
.bannerHeadText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.bannerImage {
  height: 126px;
  width: 126px;
  margin-left: 52.5px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.bannerText {
  width: 126px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
  text-align: center;
}
.bannerButton {
  width: 156px;
  height: 52px;
  background: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #86d3f4;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 37.5px;
}
.QRBanner {
  background: url(../../public/images/QR.svg);
  height: 100%;
  width: 100%;
}
