.PanelContainer {
  padding: 40px 48px;
  width: 380px;
  height: 720px;
  box-sizing: border-box;
  background: #86d3f4;
}
.PanelMainText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 13px 0px;
}
.PanelInput {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin-left: 6px;
  background: #86d3f4;
  border: none;
  outline: none;
}
.PanelInputText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: -19px;
}
.PanelDiv {
  width: 284px;
  height: 242px;
  margin-top: 26px;
  margin-bottom: 13px;
}
.PanelButtonBox {
  display: grid;
  grid-template-columns: 88px 88px 88px;
  grid-gap: 10px;
}
.PanelCheckboxDiv {
  display: flex;
  margin-top: 33px;
  margin-left: 6px;
}
.PanelLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
  margin-left: 64px;
  margin-top: 6px;
}
.PanelButton {
  width: 284px;
  height: 52px;
  margin-top: 20px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
}
.PanelButton:disabled {
  color: #4e4e4e;
  border: 1px solid #4e4e4e;
  background: #86d3f4;
  cursor: default;
}
.ErrorColor {
  color: #ea0000;
}
.ErrorMessage {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ea0000;
  margin: auto;
  margin-bottom: 7px;
}

.PanelCheckboxLabel {
  display: block;
  position: relative;
  cursor: pointer;
  clear: both;
}

.PanelCheckboxLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.PanelCheckboxLabel .PanelCheckboxCustom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 40px;
  border: 2px solid #000000;
  background-color: transparent;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.PanelCheckboxLabel input:checked ~ .PanelCheckboxCustom {
  background-color: #86d3f4;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.PanelCheckboxLabel .PanelCheckboxCustom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border: solid #009bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.PanelCheckboxLabel input:checked ~ .PanelCheckboxCustom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 14px;
  top: 3px;
  width: 11px;
  height: 25px;
  border: 3px solid #000000;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
