.PanelContainer {
  padding: 40px 48px;
  width: 380px;
  height: 720px;
  box-sizing: border-box;
  background: #86d3f4;
}
.PanelMainText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 13px 0px;
}
.PanelInput {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  width: 260px;
  margin-left: 6px;
}
.PanelInputText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 13px 0px;
}
.PanelDiv {
  width: 284px;
  height: 242px;
  margin-top: 26px;
  margin-bottom: 13px;
}
.PanelButtonBox {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
.PanelCheckbox {
  background: #86d3f4;
  border: 2px solid #000000;
  width: 40px;
  height: 40px;
}
.PanelLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
}
.PanelButton {
  width: 284px;
  height: 52px;
  background: #86d3f4;
  border: 1px solid #4e4e4e;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #4e4e4e;
  cursor: pointer;
}
