.buttonClose {
  width: 88px;
  height: 52px;
  border: 2px solid #000000;
  box-sizing: border-box;
  background: #ffffff;
  cursor: pointer;
  display: flex;
}
.buttonCloseIcon {
  margin: auto;
  width: 25px;
  height: 25px;
  background: url(../../public/images/closeIcon.svg);
}

.buttonClose:hover {
  background: #000000;
}

.buttonClose:hover .buttonCloseIcon {
  background: url(../../public/images/closeIconWhite.svg);
}

.buttonClose:focus {
  background: #000000;
}

.buttonClose:focus .buttonCloseIcon {
  background: url(../../public/images/closeIconWhite.svg);
}
