.ButtonNumber {
  height: 52px;
  background: #86d3f4;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.ButtonNumber:hover {
  background: #000000;
  color: #ffffff;
}

.ButtonDelete {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
